name: Ubuntu deploy test

on:
  push:
    branches: [ main ]

permissions:
  contents: read  # Minimal permissions to access repository content

jobs:
  ubuntuLatestTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install shellcheck
        run: sudo apt-get install shellcheck
      - name: Shellcheck VaST BASH scripts
        run: |
          for i in *sh; do
            shellcheck --severity=error $i
          done
      - name: Install Flake8
        run: pip install flake8 && flake8 --version
      - name: Run Flake8 Python linter
        run: |
          for i in filter_report.py upload.py3; do
            flake8 --ignore=W293,W291,E501,E128,E722,E402 $i
          done
      - name: Install VaST dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gfortran libx11-dev libpng-dev 
      - name: Install rarfile for Python
        run: |
          sudo apt-get install -y unrar
          pip install rarfile
          python3 -c "import rarfile" 2>/dev/null && echo "rarfile is available" || echo "rarfile is not available"
      - name: Download and install rar as unrar cannot unpack our .rar archives
        run: |
          # Define the URL for the RAR package
          RAR_URL="https://www.rarlab.com/rar/rarlinux-x64-710b2.tar.gz"
          # Download and extract RAR
          curl -L "$RAR_URL" | tar -xz -C /tmp
          # Move the binaries to /usr/local/bin
          sudo mv /tmp/rar/rar /usr/local/bin/rar
          sudo mv /tmp/rar/unrar /usr/local/bin/unrar
      - name: Verify RAR installation
        run: rar
      - name: Install bs4
        run: pip install bs4
      - name: Test bs4 installation
        run: python -c "from bs4 import BeautifulSoup; print('bs4 installed successfully')"
      - name: Install lxml
        run: pip install lxml
      - name: Test lxml installation
        run: python -c "from lxml import etree; print('lxml installed successfully')"
      - name: Run self-test script
        run: bash unmw_selftest.sh
        
